$blueOne: #00c4cc;
$blueTwo: #3E87A7;
$blueThree: #006c72;
$blueLight: #EBF9FA;
$blueFour: #a6f0f5;

$white: white;
$danger: #ca4f31;

$theme-colors: (
    "primary": $blueOne

);

@mixin center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@mixin center-left {
    display: flex; 
    align-items: center;
    padding-left: 30px;
}



h5 {
    color: $blueTwo;
    @include center-all;
}

h4 {
    color: $white;
    @include center-all;
}

h3 {
    color: $blueThree;
    margin-top: 30px !important;
    @include center-all;
}

h2 {
    color: $blueOne;
}

.setting_title {
    margin-left: 10px !important;
}

.under-line {
    color: $blueOne;
    height: 3px !important;
    width: 100px !important;
    margin-top: -9px !important;
    @include center-all;
}

.under-line-two {
    color: $blueOne;
    height: 3px !important;
    width: 300px !important;
    margin-top: -40px !important;
    margin-left: 30px;
}


/////DOCTOR PAGE///////////
.doctor_title {
    font-weight: 700 !important;
    font-size: 20px;
    color: $blueTwo;
}


//////BUTTON //////////

.buttonOne {
    color: white !important;
    background-color: #00c4cc !important;
    min-width: 250px !important;
    max-width: 250px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOne:hover {
    color: white !important;
    background-color: $blueThree !important;
}

.buttonDanger {
    color: white !important;
    background-color: $danger !important;
    border: 1px solid $danger !important;
    min-width: 250px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonDanger:hover {
    color: white !important;
    background-color: #85321d !important;
}

.buttonTwo {
    color: white !important;
    background-color: $blueTwo !important;
    min-width: 250px !important;
    max-width: 250px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonTwo:hover {
    color: white !important;
    background-color: $blueThree !important;
}


////short button/////
.buttonOneSh {
    color: $blueOne !important;
    background-color: $white !important;
    border: 1px solid $blueOne !important;
    min-width: 150px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.buttonOneSh:hover {
    color: white !important;
    background-color: $blueThree !important;
}

.buttonDangerSh {
    color: $danger !important;
    background-color: $white !important;
    border: 1px solid $danger !important;
    min-width: 150px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.buttonDangerSh:hover {
    color: white !important;
    background-color: #85321d !important;
}

.buttonTwoSh {
    color: $blueTwo !important;
    background-color: $white !important;
    border: 1px solid $blueTwo !important;
    min-width: 150px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.buttonTwoSh:hover {
    color: white !important;
    background-color: $blueThree !important;
}

////////////

.buttonThree {
    color: white !important;
    background-color: #00c4cc !important;
    min-width: 200px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonThree:hover {
    color: white !important;
    background-color: $blueThree !important;
}

.icon_hover:hover {
    color: $blueThree;
    cursor: pointer;
}

.setting_input {
    margin: 8px;
    min-width: 250px;
    border:1px solid $blueOne;
    border-radius: 3px;
  
}

input[type=text]:focus {
    border: 1px solid $blueFour !important;
  }

  .diagnosis_input {
      height: 15rem;
      border: 1px solid $blueFour !important;
      border-radius: 5px;
      margin: 15px;
  }



/* import bootstrap to set changes at bottom */
@import "~bootstrap/scss/bootstrap";