$blueOne: #00c4cc;
$blueTwo: #3E87A7;
$blueThree: #006c72;
$blueLight: #EBF9FA;

$white: white;

$theme-colors: (
    "primary": $blueOne

);

@mixin center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@mixin center-left {
    display: flex; 
    align-items: center;
    padding-left: 30px;
}



h5 {
    color: $blueTwo;
    @include center-all;
}

h4 {
    color: $white;
    @include center-all;
}

.under-line {
    color: $blueOne;
    height: 3px !important;
    width: 100px !important;
    margin-top: -9px !important;
    @include center-all;
}




.buttonOne {
    color: white !important;
    background-color: #00c4cc !important;
    min-width: 250px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOne:hover {
    color: white !important;
    background-color: $blueThree !important;
}

.buttonDanger {
    color: white !important;
    background-color: #ca3915 !important;
    min-width: 250px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonDanger:hover {
    color: white !important;
    background-color: #912b12 !important;
}

.buttonTwo {
    color: white !important;
    background-color: $blueTwo !important;
    min-width: 250px !important;
    margin-bottom: 5px !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonTwo:hover {
    color: white !important;
    background-color: $blueThree !important;
}

.icon_hover:hover {
    color: $blueThree;
    cursor: pointer;
}

/* import bootstrap to set changes at bottom */
@import "~bootstrap/scss/bootstrap";